# Ignorar la carpeta del entorno virtual
venv/

# Ignorar archivos de caché de Python
*.pyc
__pycache__/

# Ignorar archivos de configuración local
*.log
*.ini
*.cfg
.env

# Ignorar archivos de dependencias específicos del sistema
*.dll
*.exe

# Ignorar Include
include/

# Ignorar Lib
lib/

# Ignorar Scripts
Scripts/
